/* App.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

canvas {
  border: 1px solid #000;
}

ul {
  list-style-type: none; /* Remove default bullet points */
  padding: 0;
}


#overallTitle {
  font-size: 32px;
  margin-bottom: 20px;
}

/* CreateGame.css */

#username,
#hits,
#gameName {
  display: block;
  margin-bottom: 10px;
}

#handlePublish,
#handleStart {
  margin-top: 10px;
}

/* ActiveGames.css */

#header {
  font-size: 24px;
  margin-bottom: 20px;
}

.gameDetails {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.gameDetails p {
  margin: 5px 0;
}



